*body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 7% 40% auto 40% 7%;
  grid-template-rows: 7% 50% auto 30% 7%;
}

.board {
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: repeat(10, auto);
}

.player1 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.player2 {
  grid-row-start: 2;
  grid-column-start: 4;
}

.player-title {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}

.coloured-numbers {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(4, 50px);
  justify-content: center;
}

.red-row {
  background-color: red;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 12;
  margin-bottom: 2px;

  display: flex;
  /* vertically centers items */
  align-items: center;
  /* horizontally centers items */
  justify-content: center;
}

.yellow-row {
  background-color: yellow;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 12;
  margin-top: 2px;
  margin-bottom: 2px;

  display: flex;
  /* vertically centers items */
  align-items: center;
  /* horizontally centers items */
  justify-content: center;
}

.green-row {
  background-color: green;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 12;
  margin-top: 2px;
  margin-bottom: 2px;

  display: flex;
  /* vertically centers items */
  align-items: center;
  /* horizontally centers items */
  justify-content: center;
}

.blue-row {
  background-color: blue;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 12;
  margin-top: 2px;
}

.buttons {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: none;
  background: white;
  font-size: 140%;
  margin: 0 2px;
}

.red-button {
  color: red;
}

.yellow-button {
  color: yellow;
}

.green-button {
  color: green;
}
