.checkbox-area {
  display: grid;
  grid-template-rows: 40px 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-size: 16px;
}

.public-number {
  grid-row-start: 1;
}

.colour-number {
  grid-row-start: 2;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  width: 1em;
  height: 1em;
  border: 0.05em solid black;
  border-radius: 0.15em;
  margin-right: 0.5em;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
  background-color: #35e07d;
}

.checkbox-container input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 20px black;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
