.checkbox-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 30px 20px 30px auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.checkbox-1 {
  grid-row-start: 2;
}

.checkbox-2 {
  grid-row-start: 3;
}

.checkbox-title {
  font-size: 20px;
}
