*body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto 600px auto 600px auto;
  grid-template-rows: auto 400px 120px 202px auto;
}

.board {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7% 55% 14% 23%;
  width: 600px;
  height: 400px;
}

.player1 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.player2 {
  grid-row-start: 2;
  grid-column-start: 4;
}
