@import url(./colours.css);

.dice-sector {
  width: 600px;
  height: 200px;
  grid-row-start: 4;
  grid-column-start: 2;
  background-color: wheat;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 2;
}

.dice {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 10%;
  margin: auto auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 290%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-dice {
  background-color: white;
}

.white-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.white-2 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.red-dice {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: var(--light-red);
  border: 4px solid var(--dark-red);
  color: var(--medium-red);
}

.yellow-dice {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: var(--light-yellow);
  border: 4px solid var(--dark-yellow);
  color: black;
}

.green-dice {
  grid-row-start: 1;
  grid-column-start: 3;
  background-color: var(--light-green);
  border: 4px solid var(--dark-green);
  color: var(--medium-green);
}

.blue-dice {
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: var(--light-blue);
  border: 4px solid var(--dark-blue);
  color: var(--medium-blue);
}

.reset-button {
  width: 110px;
  height: 75px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: x-large;
  border-radius: 5%;
  border: 1px;
  border: 1px solid #3498db;
  color: #3498db;
  margin: auto auto;
}

.turn-keeper {
  width: 110px;
  height: 75px;
  border: 3px solid black;
  margin: auto auto;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  grid-template-columns: 50% 50%;
  padding-left: 1%;
}

.turn-keeper-display {
  font-weight: 500;
  font-size: 290%;
}
