.dice-sector {
  width: 600px;
  height: 200px;
  grid-row-start: 4;
  grid-column-start: 2;
  background-color: wheat;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 2;
}

.dice {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 10%;
  margin: auto auto;
}

.white-dice {
  background-color: white;
}

.white-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.white-2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.red-dice {
  grid-row-start: 2;
  grid-column-start: 1;
  background-color: red;
}

.yellow-dice {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: yellow;
}

.green-dice {
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: green;
}

.blue-dice {
  grid-row-start: 2;
  grid-column-start: 4;
  background-color: blue;
}

.clock-functions {
  margin: 5% 5%;
  grid-row-start: 1;
  grid-column-start: 3;
  display: grid;
  grid-template-rows: 2;
}

.countdown-clock {
  background-color: aqua;
}

.reset-button {
  background-color: pink;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}
