@import url(./colours.css);

/* OUTER MOST BOARD */
.board {
  border: 1px solid black;
  background-color: var(--light-grey);
}

/* PLAYER TITLE */
.player-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: x-large;
  margin: auto auto;
}

/* BUTTON AREA */
.buttons {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 48px 5px);
}

/* ASSIGN LOCATION OF THE COLOURED ROWS */
.red-buttons {
  grid-row-start: 1;
}
.yellow-buttons {
  grid-row-start: 3;
}
.green-buttons {
  grid-row-start: 5;
}
.blue-buttons {
  grid-row-start: 7;
}

/* DEFINE THE SIZE OF EVERY BUTTON ROW */
.outer-number-container {
  width: 540px;
  height: 48px;
  margin: auto auto;
  display: flex;
}

.inner-number-container {
  width: 520px;
  height: 41px;
  margin: auto auto;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

/* COLOUR BUTTON ROWS */
/* Red */
.red-outer-number-container {
  background-color: var(--medium-red);
}

.red-inner-number-container {
  background-color: var(--dark-red);
}

/* Yellow */
.yellow-outer-number-container {
  background-color: var(--medium-yellow);
}

.yellow-inner-number-container {
  background-color: var(--dark-yellow);
}

/* Green */
.green-outer-number-container {
  background-color: var(--medium-green);
}

.green-inner-number-container {
  background-color: var(--dark-green);
}

/* Blue */
.blue-outer-number-container {
  background-color: var(--medium-blue);
}

.blue-inner-number-container {
  background-color: var(--dark-blue);
}

/* ROWS */
.rows {
  display: grid;
  grid-template-columns: auto repeat(11, 38px 5px) 38px auto;
  grid-template-rows: 36px;
  margin: auto auto;
}

.row-numbers {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  border: none;
  border-radius: 10px;
  font-size: x-large;
}

/* LOCK */
.lock {
  width: 38px;
  height: 36px;
  transform: rotate(45deg);
  border-radius: 50%;
}

/* BUTTONS */

.red-button {
  background-color: var(--light-red);
  color: var(--medium-red);
}

.yellow-button {
  background-color: var(--light-yellow);
  color: black;
}

.green-button {
  background-color: var(--light-green);
  color: var(--medium-green);
}

.blue-button {
  background-color: var(--light-blue);
  color: var(--medium-blue);
}

/* SCORING SYSTEM */
.scoring-system {
  display: grid;
  grid-template-columns: 2px repeat(12, 40px) 105px 2px;
  grid-template-rows: 55px;
  margin: auto auto;
  justify-items: center;
  align-items: center;
}

/* scoring system container */
.scoring-container {
  width: 30px;
  height: 45px;
  border: 3px solid var(--dark-grey);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 22px 3px 22px;
  margin: auto auto;
  justify-items: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* the divider between the points and the number of numbers selected */
.dividingLine {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--dark-grey);
}

.penaltyBox {
  /* where the player's 4 strikeouts are recorded */
  display: grid;
  margin: auto auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1;
  grid-template-rows: 25px 30px;
  width: 105px;
  height: 55px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.penaltyBox4 {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: auto 25px 25px 25px 25px auto;
}

.penaltyBoxLittle {
  display: flex;
  margin: auto auto;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
}
