:root {
  /* Red */
  --light-red: rgba(249, 224, 229, 255);
  --medium-red: rgba(215, 63, 76, 255);
  --dark-red: rgba(148, 48, 55, 255);

  /* Yellow */
  --light-yellow: rgba(253, 249, 241, 255);
  --medium-yellow: rgba(254, 228, 74, 255);
  --dark-yellow: rgba(216, 163, 82, 255);

  /* Green */
  --light-green: rgba(235, 243, 241, 255);
  --medium-green: rgba(65, 159, 91, 255);
  --dark-green: rgba(63, 124, 82, 255);

  /* Blue */
  --light-blue: rgba(228, 224, 242, 25);
  --medium-blue: rgba(57, 74, 139, 255);
  --dark-blue: rgba(45, 46, 75, 255);

  /* Grey */
  --light-grey: rgba(227, 227, 227, 255);
  --medium-grey: rgba(189, 189, 189, 255);
  --dark-grey: rgba(153, 153, 153, 255);
}

/* OUTER MOST BOARD */
.board {
  border: 1px solid black;
  background-color: var(--light-grey);
}

/* PLAYER TITLE */
.player-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: x-large;
  margin: auto auto;
}

/* BUTTON AREA */
.buttons {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 5px 48px);
}

/* ASSIGN LOCATION OF THE COLOURED ROWS */
.red-buttons {
  grid-row-start: 2;
}
.yellow-buttons {
  grid-row-start: 4;
}
.green-buttons {
  grid-row-start: 6;
}
.blue-buttons {
  grid-row-start: 8;
}

/* DEFINE THE SIZE OF EVERY BUTTON ROW */
.outer-number-container {
  width: 576px;
  height: 48px;
  margin: auto auto;
  display: flex;
}

.inner-number-container {
  width: 540px;
  height: 40px;
  margin: auto auto;
}

/* COLOUR BUTTON ROWS */
/* Red */
.red-outer-number-container {
  background-color: var(--medium-red);
}

.red-inner-number-container {
  background-color: var(--dark-red);
}

/* Yellow */
.yellow-outer-number-container {
  background-color: var(--medium-yellow);
}

.yellow-inner-number-container {
  background-color: var(--dark-yellow);
}

/* Green */
.green-outer-number-container {
  background-color: var(--medium-green);
}

.green-inner-number-container {
  background-color: var(--dark-green);
}

/* Blue */
.blue-outer-number-container {
  background-color: var(--medium-blue);
}

.blue-inner-number-container {
  background-color: var(--dark-blue);
}

/* ROWS */
.rows {
  display: grid;
  grid-template-columns: auto repeat(11, 38px 5px) 38px auto;
  grid-template-rows: 36px;
  margin: auto auto;
  margin-top: 2px;
}

.row-numbers {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  border: none;
  border-radius: 10px;
  font-size: x-large;
}

/* LOCK */
.lock {
  width: 38px;
  height: 36px;
  transform: rotate(45deg);
  border-radius: 50%;
}

.red-button {
  background-color: var(--light-red);
  color: var(--medium-red);
}
