*body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto 602px auto 602px auto;
  grid-template-rows: auto 402px 120px 202px auto;
}

.board {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7% 55% 14% 23%;
  width: 600px;
  height: 400px;
}

.player1 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.player2 {
  grid-row-start: 2;
  grid-column-start: 4;
}

.board {
  background: rgba(214, 214, 214, 1);
  border: 1px solid black;
}

.player-title {
  grid-row-start: 1;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  font-weight: bold;
}

.coloured-numbers {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 1%;
}

.rows {
  font-size: 200%;
  font-weight: bold;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(11, 48px);
  grid-template-rows: repeat(1, 48px);
  align-items: center;
  justify-items: center;
  margin: auto auto;
}

.red-row {
  grid-row-start: 1;
  background: red;
}

.yellow-row {
  grid-row-start: 2;
  background: yellow;
}

.green-row {
  grid-row-start: 3;
  background: green;
}

.blue-row {
  grid-row-start: 4;
  background: blue;
}

.buttons {
  width: 38px;
  height: 38px;
  border-radius: 20%;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
}

.red-button {
  color: red;
}
