*body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto 602px auto 602px auto;
  grid-template-rows: auto 402px 120px 202px auto;
}

.board {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7% 55% 14% 23%;
  width: 600px;
  height: 400px;
}

.player1 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.player2 {
  grid-row-start: 2;
  grid-column-start: 4;
}

.board {
  background: rgba(214, 214, 214, 1);
  border: 1px solid black;
}

.player-title {
  grid-row-start: 1;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  font-weight: bold;
}

.coloured-numbers {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 1%;
}

.rows {
  font-size: 200%;
  font-weight: bold;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(11, 48px);
  grid-template-rows: repeat(1, 48px);
  align-items: center;
  justify-items: center;
  margin: auto auto;
}

/* colour the numbers within the buttons */

.red-row {
  grid-row-start: 1;
  background: red;
}

.yellow-row {
  grid-row-start: 2;
  background: yellow;
}

.green-row {
  grid-row-start: 3;
  background: green;
}

.blue-row {
  grid-row-start: 4;
  background: blue;
}

.buttons {
  width: 38px;
  height: 38px;
  border-radius: 20%;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
  border: 1px solid black;
}

/* colour the number button bands */

.red-button {
  color: red;
}

.yellow-button {
  color: black;
}

.green-button {
  color: green;
}

.blue-button {
  color: blue;
}

/* The point scoring system
The band immediately below the coloured bands  */

.scoring-system {
  margin: auto auto;
  display: grid;
  grid-template-columns: 42px repeat(12, 38px);
  grid-template-rows: repeat(1, 48px);
}

.point-worth {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  height: 42px;
  display: grid;
  grid-template-columns: repeat(1, 30px);
  grid-template-rows: 21px 21px;
}

.total-buttons-selected {
  margin: auto;
  grid-row-start: 1;
  border-bottom: 1px solid black;
}

.total-buttons-worth {
  margin: auto;
  grid-row-start: 2;
}

.point-worth-start {
  display: grid;
  grid-template-columns: repeat(1, 35px);
  grid-template-rows: 21px 21px;
  border: none;
  margin-right: 2px;
  padding-right: 2px;
}

.sample-selected-box {
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  width: 20px;
  height: 18px;
  margin-top: 3px;
  margin-left: 8px;
}

.sample-points-total {
  margin: auto;
  padding-top: 4px;
}

/* the bottom band contains the strikeout zone,
coloured sums, total sum, and the 'void pick' button */

.bottom-band {
  grid-row-start: 4;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: 1;
}

.strikeouts {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20px 75px;
  margin: auto;
}

.strikeout-title {
  margin: auto;
  font-size: medium;
}

.strikeout-boxes {
  margin: auto auto;
  display: grid;
  grid-template-columns: 45px 45px;
  grid-template-rows: 35px 35px;
}

.strikeout-box {
  margin: auto auto;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
