*body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto 602px auto 602px auto;
  grid-template-rows: auto 402px 120px 202px auto;
}

.board {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7% 55% 14% 23%;
  width: 600px;
  height: 400px;
}

.player1 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.player2 {
  grid-row-start: 2;
  grid-column-start: 4;
}

.board {
  background: rgba(214, 214, 214, 1);
  border: 1px solid black;
}

.player-title {
  grid-row-start: 1;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  font-weight: bold;
}

.coloured-numbers {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 1%;
}

.rows {
  font-size: 200%;
  font-weight: bold;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(12, 48px);
  grid-template-rows: repeat(1, 48px);
  align-items: center;
  justify-items: center;
  margin: auto auto;
}

.lock {
  width: 38px;
  height: 38px;
  background: rgb(239, 239, 239);
  transform: rotate(60deg);
  border-radius: 50%;
  /* border-radius: 50%; */
  display: grid;
  align-items: center;
  justify-items: center;
}

.yellow-lock {
  border: 1px solid black;
  border-radius: 50%;
}

/* colour the numbers within the buttons */

.red-row {
  grid-row-start: 1;
  background: red;
}

.yellow-row {
  grid-row-start: 2;
  background: yellow;
}

.green-row {
  grid-row-start: 3;
  background: green;
}

.blue-row {
  grid-row-start: 4;
  background: #1e90ff;
}

.buttons {
  width: 38px;
  height: 38px;
  border-radius: 20%;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
  border: 1px solid black;
}

/* colour the number button bands */

.red-button {
  color: red;
  border: none;
}

.yellow-button {
  color: black;
  border: 1px solid black;
}

.green-button {
  color: green;
  border: none;
}

.blue-button {
  color: #1e90ff;
  border: none;
}

/* The point scoring system
The band immediately below the coloured bands  */

.scoring-system {
  margin: auto auto;
  display: grid;
  grid-template-columns: 42px repeat(12, 38px);
  grid-template-rows: repeat(1, 48px);
}

.point-worth {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  height: 42px;
  display: grid;
  grid-template-columns: repeat(1, 30px);
  grid-template-rows: 21px 21px;
}

.total-buttons-selected {
  margin: auto;
  grid-row-start: 1;
  border-bottom: 1px solid black;
}

.total-buttons-worth {
  margin: auto;
  grid-row-start: 2;
}

.point-worth-start {
  display: grid;
  grid-template-columns: repeat(1, 35px);
  grid-template-rows: 21px 21px;
  border: none;
  margin-right: 2px;
  padding-right: 2px;
}

.sample-selected-box {
  margin: auto;
  border-radius: 3px;
  border: 1px solid black;
  width: 20px;
  height: 18px;
  margin-top: 3px;
  margin-left: 8px;
}

.sample-points-total {
  margin: auto;
  padding-top: 4px;
}

/* the bottom band contains the strikeout zone,
coloured sums, total sum, and the 'void pick' button */

.bottom-band {
  grid-row-start: 4;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: 1;
}

/* Strikeout related */

.strikeouts {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20px 75px;
  margin: auto;
}

.strikeout-title {
  margin: auto;
  font-size: medium;
}

.strikeout-boxes {
  margin: auto auto;
  display: grid;
  grid-template-columns: 45px 45px;
  grid-template-rows: 35px 35px;
}

.strikeout-box {
  margin: auto auto;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.strikeout-box1 {
  margin-left: 11px;
}

.strikeout-box2 {
  margin-right: 11px;
}

.strikeout-box3 {
  margin-left: 11px;
}

.strikeout-box4 {
  margin-right: 11px;
}

/* Colour sums related */
.colour-sums-area {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 16px 75px;
}

.colour-sums-value {
  margin: auto auto;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 39px 39px;
}

.red-sum {
  grid-row-start: 1;
  grid-column-start: 1;
  background: red;
}

.yellow-sum {
  background: yellow;
  grid-row-start: 2;
  grid-column-start: 1;
}

.green-sum {
  background: green;
  grid-row-start: 1;
  grid-column-start: 2;
}

.blue-sum {
  background: #1e90ff;
  grid-row-start: 2;
  grid-column-start: 2;
}

.colour-sum-value-boxes {
  /* applied to all 4 colour display boxes */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  width: 50px;
  height: 39px;
  font-size: 40px;
}

/* TOTAL SCORE */
.player-total-sum-display {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 16px 75px;
}

.player-total-sum {
  background: white;
  width: 100px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/* VOID PICK BUTTON */

.void-pick-button {
  width: 110px;
  height: 75px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: x-large;
  border-radius: 5%;
  border: 1px;
  border: 1px solid #3498db;
  color: #3498db;
  margin: auto auto;
  margin-top: 18px;
}
