/* Number x-class */
.row-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xClass::before,
.xClass::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 38px;
  background-color: black;
}

.xClass::before {
  background-color: black;
  transform: rotate(45deg);
}

.xClass::after {
  background-color: black;
  transform: rotate(-45deg);
}

/* Skipped Turn x-class */
.penaltyBoxLittle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xSkippedTurn::before,
.xSkippedTurn::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 28px;
  background-color: black;
}

.xSkippedTurn::before {
  background-color: black;
  transform: rotate(45deg);
}

.xSkippedTurn::after {
  background-color: black;
  transform: rotate(-45deg);
}
